{% extends 'base.html.twig' %}

{% block title %}New password{% endblock %}

{% block body %}

    <div class="container" id="down">
    <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
    <form method="post">

        <h1  class="post-title">Saisir nouveau mot de passe</h1>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <input type="hidden" name="token" value="{{ token }}">
        <hr>
        <button class="btn btn-outline-success" type="submit">
            Envoyer
        </button>
    </form>

    </div>
    </div>
    </div>
{% endblock %}