{% extends 'base.html.twig' %}



{% block body %}
    {% for content in contents %}
        <div class="col-lg-8 col-md-10 mx-auto" id="down">
            <div class="card h-100">
                <a href="#"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="{{ path('content_show', {'id': content.id}) }}">{{content.title}}</a>
                    </h4>
                    <p class="card-text">{{content.description}}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}