
###> symfony/framework-bundle ###
.env
.idea/
symfony.lock
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
docker/
public/uploads/files/
###< symfony/framework-bundle ###
