<div class="row">

    <div class="col-md-11">
        <div class="widget-area no-padding blank">
            <div class="status-upload">

{{ form_start(comment_form) }}
    {{ form_widget(comment_form) }}
                <button type="submit" class="btn btn-success green"><i class="fa fa-share"></i>
                    {{ button_label|default('Commenter') }}</button>
{{ form_end(comment_form) }}

            </div><!-- Status Upload  -->
        </div><!-- Widget Area -->
    </div>
</div>