{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
<div class="container" id="down">
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <h2 class="post-title">Laissez un commentaire</h2>

    {{ include('comment/_form.html.twig', {'button_label': 'Editer'}) }}
<br>
      <div class="col-lg-10 btn-group" >  <button type="submit" class="btn btn-outline-primary">
    <a href="{{ path('comment_index') }}"> <span class="btn-label"><i class="fas fa-arrow-left"></i></span>
        back to list</a></button>


    {{ include('comment/_delete_form.html.twig') }}

      </div>

    </div>
</div>
{% endblock %}