{% extends 'base.html.twig' %}

{% block title %}Non Connecté{% endblock %}

{% block body %}
    <div class="container" id="down">
    <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
    <p>Vous devez être connecté pour accéder à cet page.</p>
    <button type="submit" class="btn btn-outline-success">
        <a href="{{ path('home') }}"> <span class="btn-label"><i class="fas fa-home"></i></span>
            back to home</a></button>
    </div>
    </div>
{% endblock %}