<div class="row">
    <div class="col-md-11">
        <div class="widget-area no-padding blank">
            <div class="status-upload">

{{ form_start(form) }}

    {{ form_widget(form) }}
                <button type="submit" class="btn btn-success green"><i class="fa fa-share"></i>
                    {{ button_label|default('Save') }}</button>

{{ form_end(form) }}
            </div>
        </div>
    </div>
</div>