{% extends 'base.html.twig' %}

{% block title %}Approval{% endblock %}

{% block body %}
<div class="container" id="down">
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
    <h1>Reviews</h1>

    <h4>Contenus accepté</h4>
    <table>
        <tbody>
        {% for review in acceptedReviews %}
            <tr>
                <td><a style="color: darkgreen;" href="{{ path('content_show', {'id': review.content.id}) }}">{{ review.content.title  }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h4>Contenues désappouvé</h4>
    <table>
        <tbody>
        {% for review in rejectedReviews %}
            <tr>
                <td><a  style="color: red;"  href="{{ path('content_show', {'id': review.content.id}) }}">{{ review.content.title  }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
</div>
{% endblock %}
