{{ form_start(form) }}
    {{ form_widget(form) }}

<button type="submit" class="btn btn-outline-success">
    <span class="btn-label"><i class="fas fa-sign-in-alt"></i></span>{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
