{% extends 'base.html.twig' %}

{% block title %}New SocialNetwork{% endblock %}

{% block body %}
    <h1>Ajouter un réseau social</h1>

    {{ include('social_network/_form.html.twig') }}

    <a href="{{ path('social_network_index') }}">Retour à la liste</a>
{% endblock %}
