<!DOCTYPE html>
<html>
{% include 'main/head.html.twig' %}
{% include 'main/header.html.twig' %}
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
{% include 'main/js.html.twig' %}
{% include 'main/footer.html.twig' %}
</html>
