{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

<div class="container" id="down">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1>Ajouter un nouvel utilisateur</h1>

    {{ include('user/_form.html.twig') }}
            <br>
    <a class="btn btn-outline-primary" href="{{ path('user_index') }}">Retour à la listet</a>

        </div>
    </div>
</div>
{% endblock %}
